#portfolio-content{
  padding-top: 100vh;
  height: 190vh;
  background-color: #FFD19B;
}
#portfolio {
  margin-top: 2vh;
  width: 100%;
  height: fit-content;
  line-height: 36px;
  height: 90vh;
  padding-top: 8vh;
  .swiper-wrapper {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    .widget-content{
      margin-top: 4vh;
      max-width: 100vw;
      display: flex;
      justify-content: center;
      .widget{
        max-width: 50%;
        background-color: rgb(255, 255, 255);
        border-radius: 3%;
        a{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: black;
          font-size: 1.8vh;
          border-radius: 3%;
          .txt-widget{
            width: 90%;
            padding: 0 5%;
            p{
            width: 100%;
            text-align: left;
            }
          }
          .img-widget{
            border-top-left-radius: 3%;
            border-top-right-radius: 3%;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

#texto-portfolio {
  text-align: center;

  h3 {
    font-size: 3.2vh;
    font-weight: 500;
  }

  p {
    font-size: 2vh;
    font-weight: 400;
  }
}
#select {
  max-width: 50%;
  min-width: fit-content;
  margin: 2% auto;
  font-size: medium;
  z-index: 90;
}



@media (min-width: 1279px) {
  #portfolio {
    .swiper-wrapper {
      .widget-content{
        .widget{
          max-width: 70%;
          a{
            .txt-widget{
              p{
              }
            }
            .img-widget{
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  #portfolio-content{
    height: 150vh;
  }
}
@media (min-width: 800px) {
  #portfolio-content{
    padding-top: 50vh;
  }
}