#portfolio {
  width: 100%;
  height: fit-content;
  padding-top: 50vh;
  background-color: #FFD19B;
}

#texto-portfolio {
  text-align: center;

  h2 {
    font-size: medium;
    font-weight: 500;
  }
}
#select {
  max-width: 50%;
  min-width: fit-content;
  margin: 5% auto;
  font-size: medium;
}

.widgets {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;

  .widgets::-webkit-scrollbar {
    width: 0;
  }
}

.widget {
  min-width: 48vw;
  min-height: 48vw;
  margin-left: 3vw;
  background-color: rgb(150, 150, 161);
}
