#home{
    width: 100vw;
    // height: 100vh;
    //aca para que no se rompa al cambiar los tamaños lo cambie a height - auto
    height: auto;
    background-color: rgb(170, 170, 170);
    display: flex;
    flex-direction: column;
    display: block;
    #burbujas{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20vh 0 2vh 0;
        #burbuja{
            width: 70vw;
            height: 70vw;
            background-color: rgb(251, 251, 251);
            border-radius: 100%;
        }
    }
    #welcome{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2vh 0;
        h1{
            margin: 0 0;
            padding: 1vh 0;
        }
        h2{
            margin: 0 0;
            font-size: 2.2vh;
        }
        h3{
            margin: 0 0;
            font-size: 1.3vh;
        }
    }
    #arrow{
        width: 100%;
        height: 20%;
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            .arrow-down{
                font-size: 5vh;
            }
            #arrow-25{
                color: rgba(0, 0, 0, 0.164);
            }
            #arrow-55{
                color: rgba(0, 0, 0, 0.548);
            }
            #arrow-100{
                color: black;
            }
        }
    }
}