#nav-bar{
    height: 7vh;
    width: 100vw;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 100;
    #profile{
        width: 6vh;
        height: 6vh;
        margin: .5vh 2vw;
        border-radius: 100%;
        img{
            width: 100%;
        }
    }
    #menu-container{
        display: block;
        position: absolute;
        height: 100%;
        z-index: 4;
        right: 0;
        #menu-slide{
            float: left;
            max-width: 0px;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            nav{
                display: flex;
                flex-direction: column;
                padding: 15px;
                background: white;
                height: 100%;
                width: 250px;
                border: 1px solid rgba(0, 0, 0, 0.109);
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                float: right;
                .toggle-menu{
                    width: 100%;
                    height: 3vh;
                    #toggle-menu{
                        color: black;
                        width: 7vh;
                        height: 5vh;
                    }
                }
                ul{
                    padding: 2vh 4vw;
                    li{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        color: #fff;
                        font-size: 18px;
                        text-decoration: none;
                        font-weight: 500;
                        position: relative;
                        transform: translateX(-30px);
                        opacity: 0;
                        transition: all 300ms;
                        &:before{
                            content: '';
                            position: absolute;
                            left: -20px;
                            width: 0px;
                            height: 100%;
                            background: #009de3;
                            transition: all 300ms;
                        }
                        &:hover:before{
                            width: 6px;
                        }
                        a{
                            width: 100%;
                            padding: 6vh 0;
                            text-decoration: none;
                        }
                        .options-menu{
                            min-width: 500px;
                            color: black;
                        }
                    }
                }
            }
        }
        .toggle{
            z-index: 1;
            display: inline-block;
            cursor: pointer;
            transition: opacity 300ms;
            img{
                width: 100%;
            }
            &:hover{
                opacity: 0.8;
            }
        }
        #toggle{
            color: black;
            padding: 1vh 0;
            width: 7vh;
            height: 5vh;
        }
        .toggle-check{
            &:checked ~ .toggle{
                display: none;
            }
            &:checked ~ #menu-slide{
                max-width: 100vw;
                transition: 200ms;
                background-color: rgba(0, 0, 0, 0.696);
                
            }
            &:checked ~ #menu-slide ul li{
                opacity: 1;
                transition-delay: 200ms;
                transform: translateX(0);
            }
        }
    }
}